.header {
    width: 100%;
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba($color: #211f1b, $alpha: 0);
    position: sticky;
    gap: 50px;

    .friendsImg {
        width: 35px;
        height: 35px;
        color: whitesmoke;
    }

    .logo{
        font-size: 30px;
    }

    .accImg {
        width: 35px;
        height: 35px;
        background-color: whitesmoke;
        border-radius: 50%;
    }
}